.hero{
    min-height:100vh;

    background:
    linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.65)
    ),
    url("../assets/backgrounds/hero.jpg");

    background-size:cover;
    background-position:center;
    background-attachment:fixed;

    display:flex;
    align-items:center;
    justify-content:center;

    text-align:center;
}

.hero-content{
    animation:fadeUp 1s ease;
}

.hero h1{
    font-size:4.5rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
    margin-bottom:40px;
}

.hero-button{
    display:inline-block;

    padding:16px 32px;

    border-radius:40px;

    background:#d7a13d;

    color:white;

    text-decoration:none;

    transition:.3s;
}

.hero-button:hover{
    transform:scale(1.06);
}